################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Character Manager/bin
/Character Manager/obj
/Character Manager/packages
